@font-face {
  font-family: 'icomoon';
  src:  url('fonts-icons/icomoon.eot?rtu2rj');
  src:  url('fonts-icons/icomoon.eot?rtu2rj#iefix') format('embedded-opentype'),
    url('fonts-icons/icomoon.ttf?rtu2rj') format('truetype'),
    url('fonts-icons/icomoon.woff?rtu2rj') format('woff'),
    url('fonts-icons/icomoon.svg?rtu2rj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin2:before {
  content: "\eaca";
}
